<<<<<<< HEAD
:root {
    /* Colours */
    --color-text: #e0e0e0;
    --color-primary: #00bcd4;        
    --color-dark: #1a1a1a;          
    --color-bg: #222222;            

    /* Fonts */
    --font-primary: 'Poppins', sans-serif;
}
=======
:root {
    /* Colours */
    --color-text: #e0e0e0;
    --color-primary: #00bcd4;        
    --color-dark: #1a1a1a;          
    --color-bg: #222222;            

    /* Fonts */
    --font-primary: 'Poppins', sans-serif;
}
>>>>>>> 88fd6b1a82040412f2325c24e6783706bbc537b6
